/*index CSS can be used as a global CSS for the app. CSS files can also be created at the component level to further modulize the app
@import url('https://https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
*/
@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://fonts.googleapis.com/css?family=Lato'); /*imports base font family for site*/

/* TBD ON HOW TO BEST ORGANIZE-SORT CSS SELECTORS
*/
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;} 

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    
}

div.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}
