/*index CSS can be used as a global CSS for the app. CSS files can also be created at the component level to further modulize the app
@import url('https://https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
*/
@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://fonts.googleapis.com/css?family=Lato');


/*base font imported from google*/
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;} 

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}